.Side-bar{
    display: flex;
    flex-direction: column;
    gap:4rem;
    padding: 2rem 1rem;
  
    /* align-items: flex-start; */
}

.Side-bar>.Date-choice-box {
    display: flex;
    align-items: center;
    gap: 1em;
}

.Side-bar>.Date-choice-box>select{
    width: 80%;
    height: 2.3rem;
    font-size: 1.2em;
    color:var(--font-darkgrey); 
    box-shadow: var(--button-shadow);
    cursor: pointer;
    border: 3px solid var(--wink-color);
    border-radius: 0.3em;
}

.Side-bar>.userFilter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* justify-content: flex-start; */
    align-items: flex-start;
}
.userFilter>.filters-title{
    margin: 0;
}

.userFilter>.filters{
    display: flex;
    flex-direction: column;
    gap: 2em; 
    width: 95%;
    align-self: center;
}

.filters>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    /* flex-wrap: wrap; */
}
.filters>div>label{
    font-size: 0.8rem;
}
.filters>div>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.2em;
    
}

.filters button{
    border-radius: 0.4rem;
    height: 1.8em;
}
.hours> button{
    border: 2px solid var(--wink-color);
    color:var(--font-darkgrey);
    background-color: aliceblue;
}
.hours>button.true{
    background-color:var(--wink-color);
    color: aliceblue;
}
.positions>button{
    border: 0;
    color:white;
}


.filters>.user-filter{
    width: 100%;  
}
 .filters>.user-filter>div{
    width: 100%;  
} 

.filters>.user-filter>div>div>div>div>button{
    height: 100%;
 }  

.user-filter .MuiButtonBase-root >svg{
    height: 80% !important;;
  }
.user-filter .MuiButtonBase-root{
    height: 1.3em !important;
  }
 .user-filter .MuiOutlinedInput-root>input{
    padding:0 !important;;
  }
.user-filter .MuiInputLabel-root{
    top:-17% !important;
  }
.MuiAutocomplete-listbox{
    display: flex;
    flex-direction: column;
    /* gap:1em !important; */
    
}
.MuiAutocomplete-listbox>div{
    overflow: visible !important;
    height: 2em !important
}
.MuiAutocomplete-listbox .icon{
    display: flex;
    align-items: center;
    height: 100%;
}