.Admin-schedule{
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    color: var(--font-darkgrey)
}
.Admin-schedule>.schedule-container{
    flex:3;
    width: 80%;
    
}
.Admin-schedule>.Side-bar-container{
    flex:1;
    width: 20%;
    min-width: 300px;
}

