/** Applied CSS propety makes it easier to design web pages without having to use floats and positioning.*/
.mainGridStyle  {
    height: auto;
    width: 100%;
    margin: auto;
    display: grid;
    flex-wrap: wrap;
    border: 1px solid black;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: 50px;
  };