.Calendars-container{
    display: flex;
    flex-direction: row;
    margin: 10em auto 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;

}
.Calendars-container>.Calendar-view{
    
    flex:1;

}
.Calendars-container>.View-buttons{
    display: flex;
    flex-direction: column; 
    height:100vh;
    }

.Calendars-container>.View-buttons>a{
padding: 0.5em;
height: 6%;
border: 0.5px solid var(--grid-color);
border-left: none;
color: var(--font-darkgrey);
border-radius: 0% 10% 91% 10% / 0% 10% 41% 0% ;
box-shadow: var(--background-shadow)
}