:root {
    --wink-color: #23A5A5;
    --wink-color-light: #71C8C8;
    --grid-color: #bec6c67f;
    --font-darkgrey: #5a5a5a;
    --font-black: #000000;
    --weekend-color: #bd4a31;
    --background-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Weekly-calendar-container{
    /* width: 100%;*/
    height: 100vh; 
    background-color: white;
    margin: 5rem 3rem;
    padding: 5rem;
    border-radius: 3.5rem;
    box-shadow: var(--background-shadow);
}
.Table-info{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.Table-info> .Store-hours{
    display: flex;
    flex-direction: column;
    width: 7rem;
}
.Store-hours p{
    display: flex;
    

}
.Store-hours span{
    width: 100%;
    text-align: start;
}
.Weekly-calendar{
    display: grid;
    color: var(--font-darkgrey);
    grid-template-columns: 1fr repeat(7,1fr);
    grid-template-rows:repeat(2,minmax(20px,25px)) repeat(auto-fit,minmax(100px,1fr));
    border-top: 0.5px solid var(--grid-color);
    /* border-right: 0.5px solid var(--grid-color); */
}
.Weekly-calendar >div{
    border-bottom: 0.5px solid var(--grid-color);
    border-left: 0.5px solid var(--grid-color);
}
.WeeklyCal-header{
    grid-column: 2/-1;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.WeeklyCal-header>.buttons{
    background: none;
    border: none;
    color: var(--wink-color);
    font-weight:900;
}
.WeeklyCal-header>.DayInHeader{
    width:7rem;
}


.WeeklyCal-date{

    justify-self: stretch;
    text-align: start;
    padding: 3px;
    /* text-indent: 5px; */
}
.WeeklyCal-date.Weekend{
    color: var(--weekend-color)
}
.WeeklyCal-date.Today{
    color: var(--wink-color);
    font-weight: bold;
}


.WeeklyCal-Profiles{
    grid-column: 1;
    
    padding: 10px 0;
}
.WeeklyCal-Profiles> .title{
    border-bottom: 0.5px solid var(--grid-color);
    min-height: 25px;
}
#myProfile{
    grid-row: 1/4;
}

.Weekly-calendar>.Schedule{
    min-height: 100px;
    position:relative;
    display: flex;
}
.Schedule>.bar{
    position: absolute;
    height: 24px;
    width: 100%; 
    
    /* align-items: center; */
    
    
}

.Schedule>.Full-bar{
    position: absolute;
    width: 100%;
    height: 24px;
    display:grid;
    align-self: center;
}
.Full-bar>.Percentage-bar{
    height: 100%;
    width: 100%;
    
}
.Full-bar>.Percentage-bar.working{
    background-color: var(--wink-color-light);
}
.Full-bar>.Percentage-bar.vacation{
    background-color: var(--font-darkgrey);
}
.Percentage-bar>.hours{
    /* position: absolute; */
    /* align-self: center; */
    height: 100%;
    color: white;
   margin: auto;

    
}