

.Table-info-header{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
}

.Table-info{
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
    font-size: 0.8em;
}
.Table-info> .Store-hours{
    display: flex;
    flex-direction: column;
    width: 8em;
    color: var(--font-darkgrey);
    gap: 0.4em;
}
.Store-hours p{
    display: flex;
    margin: 0;
}
.Store-hours span{
    width: 100%;
    text-align: start;
}
.Table-info>.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Table-info>.Work-code{
    color: var(--font-darkgrey);
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.Work-code> div{
    align-self: start;
    display: flex;
    gap: 0.4em;
}
.Weekly-calendar{
    display: grid;
    grid-template-columns: 1fr repeat(7,minmax(4.4em,1fr));
    grid-template-rows:repeat(2,1.5em) repeat(auto-fit,minmax(50px, 1fr));
    border-top: 0.5px solid var(--grid-color);
}
.Weekly-calendar >div{
    border-bottom: 0.5px solid var(--grid-color);
    border-left: 0.5px solid var(--grid-color);
    color: var(--font-darkgrey);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.3em;
    min-width: 4em;
    
    

}
.WeeklyCal-header{
    grid-column: 2/-1;
    display: flex;
    justify-content: center;
    gap: 4em;
    align-items: center;
}

.Weekly-calendar>.WeeklyCal-header >.buttons{
    background: var(--wink-color);
    border: none;
    color: white ;
    font-weight:900;
}
.WeeklyCal-header>.DayInHeader{
    width:7em;
}

.WeeklyCal-date{

    justify-self: stretch;
    text-align: start;
    margin: auto 0;
  

}
.WeeklyCal-date.Weekend{
    color: var(--weekend-color)
}
.WeeklyCal-date.Today{
    color: var(--wink-color);
    font-weight: bold;
}


.WeeklyCal-Profiles{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 6em;
    font-size: 80%;
  
}
.WeeklyCal-Profiles> .title{

    display: flex;
    justify-content:center;
    padding-bottom: 0.2em;
    width: 100%;
    
}
.WeeklyCal-Profiles>.title> div{
    align-self: center;
    margin: 0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.WeeklyCal-Profiles.myProfile>.title>.position{
    width: 100%;
}

.Weekly-calendar>.Empty-div{
    grid-column: 1;
    grid-row: 1/3;
    height: 2.6em;
    
}
.WeeklyCal-Profiles.myProfile{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5em;
    margin:0;
    min-height:8em;
    min-width:8em;
    
}
.WeeklyCal-Profiles.myProfile>.title{
    flex-direction: column;

}
.WeeklyCal-Profiles.myProfile> .title> .icon{
    font-size: 150%;
 }
 
 .WeeklyCal-Profiles.others>.title{
     width: 100%;
     border-bottom: 0.5px solid var(--grid-color);
     font-size: 0.9em;
 }
 
 .WeeklyCal-Profiles.others> .profile{
     padding: 0.8em 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.5em;
     flex: 1;
     width: 100%;
 }

    .WeeklyCal-Profiles> .profile>.Name-container{
    width: 100%;

}
.WeeklyCal-Profiles>.profile>.Name-container>div{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}


.Weekly-calendar>.Schedule{

    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 3.7em; */
}

.Schedule>.Full-bar{
    position: absolute;
    width: 100%;
    height: 23%;
    display:grid;
}
.Full-bar>.Percentage-bar{
    height: 100%;
    width: 100%;
    
    
}
.Full-bar>.Percentage-bar.working{
    background-color: var(--wink-color-light);
    border-radius: 5px;
    display: flex;
}

.Full-bar>.Percentage-bar.vacation{
    background-color: var(--font-darkgrey);
    
}
.Percentage-bar>.hours{
    width: 100%;
    height: 100%;
    color: white;
    height: fit-content;
    margin: auto;
    font-size: 0.9em;

    
}
.Schedule>.text{
    position: absolute;
    bottom:0.4em;
    font-size: 0.9em;
}
.WeeklyCal-Profiles.others{
    min-height:8em;
    
};