:root {
    --wink-color: #23A5A5;
    --wink-color-light: #71C8C8;
    --grid-color: #bec6c67f;
    --font-darkgrey: #5a5a5a;
    --font-black: #000000;
    --weekend-color: #bd4a31;
    --background-shadow: rgba(0, 0, 0, 0.10) 0px 3px 5px;
}

.Weekly-calendar-container{
    /* width: 100%;*/
    height: 100%; 
    width: 50%;
    background-color: white;
    margin: 5rem 3rem;
    padding: 5rem;
    border-radius: 3.5rem;
    box-shadow: var(--background-shadow);
}
.Table-info{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* color: var(--font-darkgrey); */
}
.Table-info> .Store-hours{
    display: flex;
    flex-direction: column;
    width: 7rem;
    color: var(--font-darkgrey);
    gap: 0.4rem;
}
.Store-hours p{
    display: flex;
    margin: 0;
}
.Store-hours span{
    width: 100%;
    text-align: start;
}
.Table-info>.Work-code{
    color: var(--font-darkgrey);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.Work-code> div{
    align-self: start;
    display: flex;
    gap: 0.4rem;
}
.Weekly-calendar{
    display: grid;
    grid-template-columns: 1fr repeat(7,1fr);
    grid-template-rows:repeat(2,minmax(20px,25px)) repeat(auto-fit,minmax(100px,1fr));
    border-top: 0.5px solid var(--grid-color);
    /* border-right: 0.5px solid var(--grid-color); */
}
.Weekly-calendar >div{
    border-bottom: 0.5px solid var(--grid-color);
    border-left: 0.5px solid var(--grid-color);
    color: var(--font-darkgrey);
}
.WeeklyCal-header{
    grid-column: 2/-1;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.Weekly-calendar>.WeeklyCal-header >.buttons{
    background: var(--wink-color);
    border: none;
    color: white ;
    font-weight:900;
}
.WeeklyCal-header>.DayInHeader{
    width:7rem;
}


.WeeklyCal-date{

    justify-self: stretch;
    text-align: start;
    padding: 3px;
    /* text-indent: 5px; */
}
.WeeklyCal-date.Weekend{
    color: var(--weekend-color)
}
.WeeklyCal-date.Today{
    color: var(--wink-color);
    font-weight: bold;
}


.WeeklyCal-Profiles{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0; */
}
.WeeklyCal-Profiles> .title{
    
    min-height: 25px;
    display: flex;
    justify-content:center;
    /* padding: 0.5rem */
}
.WeeklyCal-Profiles.myProfile{
    grid-row: 1/4;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}
.WeeklyCal-Profiles.others>.title{
    width: 100%;
    border-bottom: 0.5px solid var(--grid-color);
    
}

.title> div{
    align-self: center;
    margin: 0.3rem;
}
.WeeklyCal-Profiles.others> .profile{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.icon{
    /* display: flex; */
    position: relative;
    /* margin-right: 0.5rem; */
    /* margin: 0.2rem */
}
.icon>.initial{
    position:absolute;
    color: white;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    margin: 0;

}

.Weekly-calendar>.Schedule{
    min-height: 100px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Schedule>.Full-bar{
    position: absolute;
    width: 100%;
    height: 24px;
    display:grid;
    /* justiy-content: center; */
}
.Full-bar>.Percentage-bar{
    height: 100%;
    width: 100%;
    
}
.Full-bar>.Percentage-bar.working{
    background-color: var(--wink-color-light);
    border-radius: 5px;
    display: flex;
    /* align-items: center; */
}

.Full-bar>.Percentage-bar.vacation{
    background-color: var(--font-darkgrey);
    
}
.Percentage-bar>.hours{
    
    height: 100%;
    color: white;
    height: fit-content;
   margin: auto;
   font-size: 0.6vw;

    
}
.Schedule>.text{
    position: absolute;
    bottom:0.4em;
    font-size: 0.7vw;
}