<<<<<<< HEAD
<<<<<<< HEAD
/** The :root selector matches the document's root element. */
:root {
=======
/* :root {
>>>>>>> main
    --wink-color: #23A5A5;
    --wink-color-light: #71C8C8;
    --grid-color: #bec6c67f;
    --font-darkgrey: #5a5a5a;
    --font-black: #000000;
    --weekend-color: #bd4a31;
    --background-shadow: rgba(0, 0, 0, 0.10) 0px 3px 5px;
    --font-header-size: 1.2rem;
<<<<<<< HEAD
}

/** This resources below are in comments yet because problably will be use in the future. 
Line 16 to 24 contents this resources. */

=======
} */
>>>>>>> main
/* *{
    margin:0;
    padding:0;
} */
/* .Daily-calendar{
    margin-top: 60px;
    display: flex;
    justify-content: center;
} */
<<<<<<< HEAD

/** CSS functionality. */
.DailyCal-container {
    height: 100%; 
    border-width: 100%;
    background-color: white;
    /* margin: 5rem 3rem; */
    padding: 5em;
    border-radius: 3.5em;
    box-shadow: var(--background-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    
=======
.DailyCal-container{
   
>>>>>>> main
}

/** CSS functionality. */
=======


>>>>>>> main
.DailyCal-container>.Weekly-summary-container{
    height: 100%; 
    width: 50%;
    background-color: white;
    /* margin: 0 5em 3em 5em; */
    padding: 1.5em;
    border-radius: 3em;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

/** CSS functionality. */
.Weekly-summary-container>.Weekly-summary{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: center;
 /* gap:4rem */
}

/** CSS functionality. */
.Weekly-summary-container>.title{
    color: var(--wink-color);
    font-weight: bold;
    font-size: var(--font-header-size);
    
}

/** CSS functionality. */
.Weekly-summary>.User-profile{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5em;
}

<<<<<<< HEAD
/** This resources below are in comments yet because problably will be use in the future. 
Line 86 to 91 contents this resources. */

/* .Weekly-summary>.User-profile>.icon{
    font-size: 2vw;
}
.Weekly-summary>.User-profile>.icon>.initial{
    font-size: 1.5vw;
} */

/** CSS funcionality. */
=======
>>>>>>> main
.Weekly-summary>.summary{
    flex:1
}

/** CSS funcionality. */
.summary>div{
    text-align: start;
    margin-bottom: 0.5rem ;
}
<<<<<<< HEAD
=======

.DailyCal-container>.Table-container{
    margin-top: 1em;
    height: 100%; 
    width: 100%;
    background-color: white;
    /* margin: 0 5em 3em 5em; */
    /* padding: 1.5em; */
    border-radius: 3em;
    /* box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 8px; */
    display: flex;
    flex-direction: column;
}
.Table-container>.Table-header{
    width: 100%;
}
.Table-header>.Header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
    width: 80%;
    margin-left: auto;
}

.Table-container>.Time-header{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-column: 2/-1;
    /* grid-template-rows: 1; */
    left: 30%;
    width: 86%;
    margin-left:11em;
}
.Table-container>.Time-header>div{
    font-size: 10%;
   
    justify-self: end;
  
    /* right:-1em; */
}

.Table-container>.Table-body-container{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(auto-fit, minmax(1em, 1fr));
    position: relative;
}
.Table-body-container>.profile-container{
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1em;
    height: 2em;
    margin-bottom: 0.5em;
    justify-content: start;
}


.Table-body-container> .Schedule{
    position: relative;
    /* height:3em; */
    display: flex;
    align-items: center;
}
.profile-container>.Schedule>.Full-bar{
    position: relative;
    height: 50%;
    
}
.profile-container.my>.Schedule{
    position: relative;
}
.gridLines{
    position: absolute;
    display: flex;
    /* grid-template-columns: repeat(24,1fr); */
    left:20%;
    width: 80%;
    top:1em;
    height: 100%;
    border-right: 0.5px solid var(--grid-color);
}
.gridLines>div{
    flex:1;
    border-left: 0.5px solid var(--grid-color);
}
>>>>>>> main
