/** The :root selector matches the document's root element. */
:root {
    --wink-color: #23A5A5;
    --wink-color-light: #71C8C8;
    --grid-color: #bec6c67f;
    --font-darkgrey: #5a5a5a;
    --font-black: #000000;
    --weekend-color: #bd4a31;
    --background-shadow: rgba(0, 0, 0, 0.10) 0px 3px 5px;
    --font-header-size: 1.2rem;
}

/** This resources below are in comments yet because problably will be use in the future. 
Line 16 to 24 contents this resources. */

/* *{
    margin:0;
    padding:0;
} */
/* .Daily-calendar{
    margin-top: 60px;
    display: flex;
    justify-content: center;
} */

/** CSS functionality. */
.DailyCal-container {
    height: 100%; 
    border-width: 100%;
    background-color: white;
    /* margin: 5rem 3rem; */
    padding: 5em;
    border-radius: 3.5em;
    box-shadow: var(--background-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/** CSS functionality. */
.DailyCal-container>.Weekly-summary-container{
    height: 100%; 
    width: 50%;
    background-color: white;
    margin: 0 5rem 3rem 5rem;
    padding: 1.5rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

/** CSS functionality. */
.Weekly-summary-container>.Weekly-summary{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: center;
 /* gap:4rem */
}

/** CSS functionality. */
.Weekly-summary-container>.title{
    color: var(--wink-color);
    font-weight: bold;
    font-size: var(--font-header-size);
    
}

/** CSS functionality. */
.Weekly-summary>.User-profile{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

/** This resources below are in comments yet because problably will be use in the future. 
Line 86 to 91 contents this resources. */

/* .Weekly-summary>.User-profile>.icon{
    font-size: 2vw;
}
.Weekly-summary>.User-profile>.icon>.initial{
    font-size: 1.5vw;
} */

/** CSS funcionality. */
.Weekly-summary>.summary{
    flex:1
}

/** CSS funcionality. */
.summary>div{
    text-align: start;
    margin-bottom: 0.5rem ;
}