.Shiftswap{
    padding: 1em;

}
.Shiftswap>.date{
    display: flex;
}


.date>.Day-lists{
    width: 80%;
    height: 1.5em;
    font-size: 1.2em;
    color:var(--font-darkgrey); 
    box-shadow: var(--button-shadow);
    cursor: pointer;
    border: none;
    border-radius: 0.1em;
}